<div class="container">
    <div class="col-xs-12">
      <div class="block">
        <ol class="list-style-type">
          <h3>系所公告</h3>
          <li>
            <a href="#">106學年度碩士推薦甄試第二階段複試排</a>
            <p>Dec 9, 2016</p>
          </li>
          <li>
            <a href="#">賀!本系羅美玲老師榮獲美國夏威夷大學榮譽校友!</a>
            <p>Oct 15, 2016</p>
          </li>
          <li>
            <a href="#">學士班個人申請入學口試排程</a>
            <p>Oct 2, 2016</p>
          </li>
        </ol>
      </div>
      <div class="block">
        <ol class="list-style-type">
          <h3>活動資訊</h3>
          <li>
            <a href="#">100年度南區資通安全種子師資研習營</a>
            <p>Oct 2, 2016</p>
          </li>
          <li>
            <a href="#">教育部100年度台灣學術網路資安推廣中心資安研習營</a>
            <p>Oct 2, 2016</p>
          </li>
          <li>
            <a href="#">國民小學教育學程甄選即日起開始申請</a>
            <p>Oct 2, 2016</p>
          </li>
        </ol>
      </div>
      <div class="block">
        <ol class="list-style-type">
          <h3>演講公告</h3>
          <li>
            <a href="#">科技翻轉世界_淺談大數據、互聯網、雲端運算</a>
            <p>Oct 2, 2016</p>
          </li>
          <li>
            <a href="#">探索長期照護的本質－兼論我國長照政策發展現況</a>
            <p>Oct 2, 2016</p>
          </li>
          <li>
            <a href="#">物聯網導向之智慧健康城</a>
            <p>Oct 2, 2016</p>
          </li>
        </ol>
      </div>
      <div class="block">
        <ol class="list-style-type">
          <h3>其他公告</h3>
          <li>
            <a href="#">張文豹獎學金申請至3月21日截止</a>
            <p>Oct 2, 2016</p>
          </li>
          <li>
            <a href="#">系主任清寒學生優秀獎學金得獎名單公佈</a>
            <p>Oct 2, 2016</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
