body {
  font-family: "Helvetica", Arial, "微軟正黑體";

}
h2,h3 {
  font-weight:lighter;
}
.container {
  background-color: rgba(247, 247, 247, 0.93);
}
.block{
  width: 25%;
  float: left;
}
.list-style-type{
  padding-left: 0px;
  margin: 15px;
}
.list-style-type h2,h3{
  text-align: center;
  color: teal;
  text-shadow: 1px 1px lightgrey;
}
.list-style-type li{
  border-bottom:1px solid #e5e5e5;
  list-style-type:none;
  padding: 16px 16px 0px 16px;
  position: relative;
  height:108px;
}
.list-style-type p{
  color: #999;
  margin: 0;
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 6px;
}
.list-style-type a{
  font-size:16px;
  color: #707C74;
}
.list-style-type a:hover{
  color: #75ccc2;
  text-decoration: none;
}
@media only screen and (max-width: 993px){
  .block{
    width:25%;
    float: left;
  }
  .list-style-type{
    margin: 5px;
  }
  .list-style-type li{
    padding: 8px 8px 0px 8px;
    height:108px;
  }
}
@media only screen and (max-width: 676px){
  .block {
    width: 100%;
    float: left;
  }
  .list-style-type li{
    height:auto;
  }
}
